/* Colour Palette:
Text Color (dark grey): #000000;
Line break colour (black) : #000000;
Header background colour (pokeball grey): #f0f0f0;
button corder colour (pokemon logo light blue): #2a75bb;
*/

header {
  background-color: #f0f0f0;
}

/* Font declartion */
body {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 400; /*font = regular */
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}


/* box dizing declaration */
* {
  box-sizing: border-box;
}


/* ALL PAGES */
/* menu bar and logo */
.page-header {
display: flex;
width: 100%;
padding: 20px;
border-bottom: 10px solid #000000;
}




/* centers pokemon logo   */
/* .page-header {
  max-width: 700px;
  margin: 0 auto;
} */


/* centers the main body of the page   */
.pokemon-text {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}


/* button styling */
.button-class {
    background-color:  #2a75bb;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid  #2a75bb;
    border-radius: 15px;
}




@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
