/* Colour Palette:
Text Color (dark grey): #000000;
Line break colour (black) : #000000;
Header background colour (pokeball grey): #f0f0f0;
button corder colour (pokemon logo light blue): #2a75bb;
*/
:root {
  /* text emphasis */
  --light: 300;
  --normal: 400;
  --semibold: 600;
}


header {
  background-color: #f0f0f0;
  margin-bottom: 2px;
}

/* Font declartion */
body {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 400; /*font = regular */
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  text-align: center;
}


/* box dizing declaration */
* {
  box-sizing: border-box;
}


/* ALL PAGES */
/* menu bar and logo */
.page-header {
display: flex;
width: 100%;
padding: 20px;
border-bottom: 10px solid #000000;
}

.pokemon-list-container {
  text-align: center;
  padding: 0 4px;
}


.pokemon-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}


/* button styling */
.pokemonButton {
  font-size: 20px;
  font-weight: var(--semibold);
  font-family: inherit;
  text-transform: capitalize;
  text-decoration: none;
  color: #15151c;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #e3e9ef;
  margin: 2px 0;
  padding: 0;
  width: 100%;
  max-width: 512px;
  height: 50px;
  line-height: 50px;
  transition: opacity 0.8s;
}

.pokemonButton:hover,
.pokemonButton:focus,
.pokemonButton:active {
  background-color: #7691b2;
  color: #faf9f8;
  opacity: 0.8;
  outline: 0;
}

/* Webkit / Chrome Specific CSS to remove tap
highlight color */
.pokemonButton {
  -webkit-tap-highlight-color: transparent;
}

/* Firefox Specific CSS to remove button
differences and focus ring */
.pokemonButton {
  background-image: none;
}

.pokemonButton::-moz-focus-inner {
  border: 0;
}






/* adapting to different screen sizes */
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
